l Studio files
*/.vs/
*.[Oo]bj
*.aps
*.user
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.dll
*.suo
*.pdb
*.pubxml
ipch/
obj/
[Bb]in
!DatabaseScripts/bin/
[Dd]ebug*/
[Rr]elease*/
[Ll]ib*/
!DraftKingsMVC/_assets/js/jgcharts/lib/
Ankh.NoLoad
XmlDocument.xml
